name: CI

on: [push]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - name: Check out repository
      uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        version: ${{ matrix.node-version }}
    - name: Run commands
      run: |
        yarn
        yarn prepack
      env:
        CI: true
